{% extends 'homebase.html' %}
{% load static %}
{% load crispy_forms_tags %}
{%block content%}

  <form method="POST" enctype="multipart/form-data">
    <div class="mt-5 pt-4">
     </div>
    {% csrf_token %}
    <div class="container register-form">
      <div class="form">
        <div class="note">
          <p>Add New Admin To Hospital</p>
        </div>
        <!-- <div class="col-md-12" style="color:Blue">
          <h4 class="text-center">Patient Registrationl</h4>
        </div> -->

        <div class="form-content">
          <!-- start -->
          <div class="row" >
              <div class="col-md-12">
                {{adminForm.username | as_crispy_field}}
              </div>
          </div>
          <div class="row" >
              <div class="col-md-6">
                  {{adminForm.first_name | as_crispy_field}}
              </div>
              <div class="col-md-6">
                  {{adminForm.last_name | as_crispy_field}}
              </div>
          </div>

          <div class="row" style="color: red">
              <div class="col-md-6">
                  {{adminForm.password1 | as_crispy_field}}
              </div>
              <div class="col-md-6">
                  {{adminForm.password2 | as_crispy_field}}
              </div>
          </div>
          <!-- end -->
          <div class="row">
            <div class="col-md-4">
                <button type="submit" class="btn btn-success btn-block btn-lg"><i class="fas fa-sign-in-alt"></i> Sign Up</button>
            </div>
          </div>
          <div class="text-center">Already have an account? <a href="{% url 'login' %}">Login here</a></div>

        </div>
      </div>
    </div>

  </form>
{%endblock content%}
