{% extends 'hospital/homebase.html' %}
{% load static %}
{% load crispy_forms_tags %}
{%block content%}
  <!--- signup page for patient by admin(sumit)  ---------->
  <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container register-form">
      <div class="form">
        <div class="col-md-12" style="color:Blue">
          <h4 class="text-center">Hospital Registrationl</h4>
        </div>

        <div class="form-content">
          <!-- start -->
          <div class="row" >
              <div class="col-md-12">
                <input type="text" name="username" id="inputUsername" placeholder="Username" required>
                <p>{{form.username.errors}}</p>
              </div>
          </div>
          <div class="row" >
              <div class="col-md-6">
                  <input type="text" name="first_name" value="" placeholder="First Name" required>
              </div>
              <div class="col-md-6">
                  <input type="text" name="last_name" value="" placeholder="Last Name" required>
              </div>
          </div>
          <!-- <input type="" name="" value="" placeholder="" required> -->
          <div class="row" style="color: red">
              <div class="col-md-6">
                  <input type="password" name="password1" value="" placeholder="Password" required>
              </div>
              <div class="col-md-6">
                  <input type="password" name="password2" value="" placeholder="Confirm Password" required>
              </div>
              <p>{{form.password1.errors}}</p>
          </div>
          <div class="row" >
              <div class="col-md-6">

              </div>
              <div class="col-md-6">

              </div>
          </div>
          <div class="row" >
              <div class="col-md-12">

              </div>
          </div>
          <div class="row" >
              <div class="col-md-3">
                <!-- for file upload: https://docs.djangoproject.com/en/3.1/ref/forms/api/#binding-uploaded-files -->

              </div>
          </div>
          <!-- end -->
          {% for field in registration_form %}
           <p>
               {% for error in field.errors %}
                   <p style="color: red">{{ error }}</p>
               {% endfor %}
           </p>
           {% endfor %}
           {% if registration_form.non_field_errors %}
               <div style="color: red">
                   <p>{{ registration_form.non_field_errors }}</p>
               </div>
           {% endif %}
          <div class="row">
            <div class="col-md-4">
                <button type="submit" class="btn btn-success btn-block btn-lg"><i class="fas fa-sign-in-alt"></i> Sign Up</button>
            </div>
          </div>
          <div class="text-center">Already have an account? <a href="{% url 'login' %}">Login here</a></div>

        </div>
      </div>
    </div>
  </form>

{%endblock content%}
